<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123065440032-kf8kcoo9jflqear25e1va8dbj2gpaj9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123065440032-kf8kcoo9jflqear25e1va8dbj2gpaj9k</string>
	<key>API_KEY</key>
	<string>AIzaSyCoI5DeSTZgB3PZE_34VD5VYencQT02Q4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>123065440032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotadev.LoginFirebaseGoogle</string>
	<key>PROJECT_ID</key>
	<string>loginf-4f175</string>
	<key>STORAGE_BUCKET</key>
	<string>loginf-4f175.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123065440032:ios:9c4ec844d1b3c46b102945</string>
</dict>
</plist>